* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
     font-family: "regular","sans-serif"; 
  }
  a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  }
  ul {
    list-style: none;
  }
  .upper-nav span {
    color: #ffffff; /* Upper nav text */
    font-size: 14px;
  }
  .upper-nav span a {
    text-decoration: underline !important;
  }
  .bg-light {
    background-color: #ffffff !important;
    border-bottom: 1px solid #7D8184;
  }
  .navbar .d-flex .form-control {
    background-color: #F5F5F5;
    border: none;
  }
  .navbar .d-flex .btn-outline-primary {
    background-color: #DB4444;
    color: #ffffff;
    border: none;
  }
  
  